.nav_container {
  height: 100vh;
  background-color: white;
  position: relative;
}
.nav_side {
  display: none;
}
.nav_side_remove {
  display: block;
  height: inherit;
  width: 320px;
  background-color: #21242d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-right: 2px solid white;
}

#close {
  cursor: pointer;
}
#Topic_Navigation .nav-link {
  color: #e7c634;
  font-weight: 700;
  text-transform: uppercase;
}
#Topic_Navigation .nav-link:hover {
  color: #e7c634;
  background-color: #3f434e;
}
/* .nav_main{
    
} */
.back {
  float: right;
  font-size: 43px !important;
  padding-right: 20px;
  color: #e7c634;
  cursor: pointer;
  margin: 0 0.5rem;
  animation: shakeX;
  animation-duration: 3s; /* don't forget to set a duration! */
}
/* @media ()991 */
@media only screen and (max-width: 991px) {
  .intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .list_box {
       position: absolute;
       top: 0;
       left: 0;
       height: 300px;
       padding-top: 100px;
       overflow-x: scroll;
     }
     .list_box .nav-link {
      display: inline;
  }
}
#open{
  position: relative;
  cursor: pointer;
}
#open::after{
  content: 'Java script';
  position: absolute;
  top: 7px;
  left: 43px;
  text-transform: uppercase;
}